

html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

#myTexts {
    /*background-color: #dddddd;*/
    opacity: 0.6;
    position: absolute;
    top: 1px;
    left: 100px;
    z-index: 1001;
}

#myEntries {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
}

#pointsOfInterest {
    background-color: goldenrod;
}

#pointsOfInterestList {
    height: 150px;
    overflow: auto;
}
